@model Singleton.Entities.Hesap

@{
    ViewBag.Title = "Details";
}


<div>
    <br />
    <br />
    <br />
    <h4>Hesap Detayları</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Musteri.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Musteri.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bakiye)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bakiye)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusteriNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusteriNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EkNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EkNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HesapNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HesapNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBAN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sil", "Edit", new { id = Model.HesapID }) |
    @Html.ActionLink("Hesaplarıma Geri Dön", "Index")
</p>
