
@using Singleton.WebApp.Models
@model IEnumerable<Singleton.Entities.Hesap>

@{
    ViewBag.Title = "Bakiye Yükle (Hesap Seç)";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <br />
        <br />
        <br />
        <h2>Kullanmak istediğiniz hesabı seçiniz</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Musteri.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bakiye)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HesapNo)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (CurrentSession.User.MusteriID == item.MusteriID)
                {
                    if (item.Durum == true)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Musteri.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Bakiye)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HesapNo)
                            </td>
                            <td>
                                @Html.ActionLink("Seç", "BakiyeYukle", new { id = item.HesapNo }) 
                            </td>
                        </tr>
                    }
                }
            }

        </table>

    </div>

</div>

